

  <div class="container text-center">
   
    <tr>
        <td><h3 style="margin-inline-start: 120px;">All Customers Details</h3></td>
        <td> 
          <div class="search-hero" > <input class="form-control" type="text" name="search"
            [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442; Search Id / Status"></div>
        </td>
    </tr>
    <br>
    <table class="table table-striped text-center">
    <thead>
        <tr >
            <th style="border: 2px solid gainsboro; padding-inline: 1rem;" scope="col">Customer Id</th>
            <th style="border: 2px solid gainsboro; padding-inline: 1rem;" scope="col">Cashback Id</th>
            <th style="border: 2px solid gainsboro; padding-inline: 1rem;" scope="col">Del_Flag</th>
            <th style="border: 2px solid gainsboro; padding-inline: 1rem;" scope="col">Active Status</th>
            <th style="border: 2px solid gainsboro; padding-inline: 1rem;" scope="col">Created Date</th>
          <th style="border: 2px solid gainsboro; padding-inline: 1rem;" scope="col">Last Modified Date</th>
            <th style="border: 2px solid gainsboro; padding-inline: 1rem;" scope="col" *ngIf="userService.roleMatch(['Admin']) || userService.roleMatch(['Super Admin'])"> Update </th>
            <th style="border: 2px solid gainsboro; padding-inline: 1rem;" scope="col" *ngIf="userService.roleMatch(['Super Admin'])"> Delete </th>
            <th style="border: 2px solid gainsboro; padding-inline: 1rem;" scope="col" *ngIf="userService.roleMatch(['Admin']) || userService.roleMatch(['Super Admin'])"> More Details </th>
          
          </tr>
    </thead>
    <tbody>

        <tr *ngFor="let Customer of CustomerArray | filter:searchText | paginate: { itemsPerPage: 3, currentPage: p}">
            <th style="border: 1px solid gainsboro;" class="text-" scope="row">{{Customer.customerId}}</th>
            <td style="border: 1px solid gainsboro;">{{Customer.cashbackId}}</td>
            <td style="border: 1px solid gainsboro;">{{Customer.delFlag}}</td>
            <th style="border: 1px solid gainsboro;">{{Customer.status}}</th>
            <td style="border: 1px solid gainsboro; padding-inline: 2rem;">{{Customer.createdDate | date : "medium"}}</td>
            <td style="border: 1px solid gainsboro; padding-inline: 2rem;">{{Customer.modifiedDate | date : "medium"}}</td>
        
            <td style="border: 1px solid gainsboro;" *ngIf="userService.roleMatch(['Admin']) || userService.roleMatch(['Super Admin'])">
                <button type="button" class="btn btn-dark" style="margin-inline-end: 1rem;" (click)="setUpdate(Customer)" >Edit</button>
            </td>
            <td style="border: 1px solid gainsboro;" *ngIf="userService.roleMatch(['Super Admin'])">
                <button type="button" class="btn btn-dark" style="margin-inline-end: 1rem;" (click)="setDelete(Customer)">Delete</button>
            </td>
            <td style="border: 1px solid gainsboro;" *ngIf="userService.roleMatch(['Admin']) || userService.roleMatch(['Super Admin'])">
                <button type="button" class="btn btn-dark" style="margin-inline-end: 1rem;" (click)="setAuditDetails(Customer)">View</button>
            </td>
      </tr>
    </tbody>
  </table>

  <br> 
  <div class="text-right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

</div>


<div class="overlay" *ngIf="show" (click)="closeoverlay($event)">
<div class="content" style="margin-inline: 25rem;">

   <div  style="background-color: white; padding-block-start: 1rem;padding-block-end: 1rem;margin-block-start: 0.5rem;
        margin-block-end: 2rem;padding-inline: 2rem;border-radius:2rem;" >
    <div class="row" > 
        <div class="close()" (click)="closepopup()" style="color: red;">
            &times;
        </div>  
        <div class="col-md-12">  
            <h3 style="text-align: center;">Update Customer Details</h3>
            <br>
           
                <form  name ="customerForm"  #f="ngForm" (ngSubmit)="f.form.valid && submit()" novalidate >
                <div class="col-md-12">
                        <div class="formGroup">
                            <label for="customerId">Customer Id<span style="color: red;">*</span> : </label>
                            <input type="number" disabled="Edit" [(ngModel)]="customerId"  [ngModelOptions]="{standalone: true}" class="form-control" id="customerId" >  
                        </div>
                </div>
         
                <div class="col-md-12">
                    <div class="formGroup">
                        <label for="cashbackId">Cashback Id<span style="color: red;">*</span> : </label>
                        <input type="number" disabled="Edit" [(ngModel)]="cashbackId"  [ngModelOptions]="{standalone: true}" class="form-control" id="cashbackId" >  
                        </div>
                    </div>
                <div class="col-md-12">
                    <div class="formGroup">
                        <label for="status">Active Status<span style="color: red;">*</span> : </label>
                        <select type="select" [(ngModel)]="status" [ngModelOptions]="{standalone: true}" class="form-control" id="status"
                        #sname="ngModel"
                            [ngClass]="{'is-invalid':f.submitted && sname.invalid  }" >  
                            <option>Y</option>  
                            <option>N</option>  
                        </select>  
                    </div>
                </div>
                
          
                <div class="text-center">
                    <button type='submit' style="padding-inline: 3rem;background-color:#252525;block-size: 48px;margin-block: 2rem;
                    inline-size: 343px;inset-inline-start: 30px;inset-block-start: 30px;border-radius: 38px;padding: 12px 104px 12px 104px;color: white;"> Save </button>        
              
                 
                   
                </div>
                      
                  </form>
            </div>
        </div>
     </div>
    </div>
</div>


<div class="overlay" *ngIf="view" (click)="closeoverlayer($event)">
    <div class="content-1" style="margin-inline: 25rem;">
    
       <div  style="background-color: white; padding-block-start: 1rem;padding-block-end: 1rem;margin-block-start: 0.5rem;
            margin-block-end: 2rem;padding-inline: 2rem;border-radius:2rem;" >
        <div class="row" > 
            <div class="close()" (click)="closepopup()" style="color: red;">
                &times;
            </div>  
            <div class="col-md-12">  
               
                <br>
               
                    <form  name ="customerForm"  #f="ngForm" (ngSubmit)="f.form.valid && submit()" novalidate >
                    <div class="col-md-12">
                            <div class="formGroup">
                                <label for="customerId">Customer Id<span style="color: red;">*</span> : </label>
                                <input type="number" disabled="Edit" [(ngModel)]="customerId"  [ngModelOptions]="{standalone: true}" class="form-control" id="customerId" >  
                            </div>
                    </div>
             
                    <div class="col-md-12">
                        <div class="formGroup">
                            <label for="cashbackId">Cashback Id<span style="color: red;">*</span> : </label>
                            <input type="number" disabled="Edit" [(ngModel)]="cashbackId"  [ngModelOptions]="{standalone: true}" class="form-control" id="cashbackId" >  
                            </div>
                    </div>
                
                    <div class="col-md-12">
                        <div class="formGroup">
                            <label for="status">Status<span style="color: red;">*</span> : </label>
                            <input type="text" disabled="Edit" [(ngModel)]="status"  [ngModelOptions]="{standalone: true}" class="form-control" id="cashbackId" >  
                            </div>
                    </div>
                    <div class="col-md-12">
                        <div class="formGroup">
                            <label for="cashbackId">Created By<span style="color: red;">*</span> : </label>
                            <input type="text" disabled="Edit" [(ngModel)]="createdBy"  [ngModelOptions]="{standalone: true}" class="form-control" id="cashbackId" >  
                            </div>
                    </div>
                    <div class="col-md-12">
                        <div class="formGroup">
                            <label for="createdDate">Created Data<span style="color: red;">*</span> : </label>
                            <input type="text" disabled="Edit" [(ngModel)]="createdDate"  [ngModelOptions]="{standalone: true}" class="form-control" id="cashbackId" >  
                         
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="formGroup">
                            <label for="modifiedBy">Last Modified By<span style="color: red;">*</span> : </label>
                            <input type="text" disabled="Edit" [(ngModel)]="modifiedBy"  [ngModelOptions]="{standalone: true}" class="form-control" id="cashbackId" >  
                            </div>
                    </div>
                    <div class="col-md-12">
                        <div class="formGroup">
                            <label for="modifiedDate">Last Modified Date<span style="color: red;">*</span> : </label>
                            <input type="text" disabled="Edit" [(ngModel)]="modifiedDate"  [ngModelOptions]="{standalone: true}" class="form-control" id="cashbackId" >  
                            </div>
                    </div>
                    
                          
                      </form>
                      <br>
                </div>
            </div>
         </div>
        </div>
    </div>
    
    
    