


<div class="container" style="background-color: white; padding-block-start: 2rem;padding-block-end: 2rem;margin-block-start: 2rem;margin-block-end: 2rem;border-radius: 1rem;padding-inline: 2rem;" >
            
    
    <div style="background-color: white;">
        <div class="row" style="border-radius: 4rem;">
        <div class="col-md-3"></div>
        <div class="col-md-12" style="border-radius: 4rem;" >
            <div class=" m-6 ">
                <div class="card-body" >
                    <div class="col-md-12">  
                        <h3 style="text-align: center;">Login</h3>
                        <br>
                        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && login(f)" novalidate >
                        <div class="form-row" >
                            <div class="col-md-12">
                                <label>Email</label>
                            
                                <input type="email"
                                ngModel
                                name="userName"
                                #email="ngModel"
                                id="userName"
                                placeholder="Email"
                                class="form-control mb-3" required
                                [ngClass]="{'is-invalid':f.submitted && email.invalid}"
                                />
                                <div class="invalid-feedback">
                                     Email is required
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label>Password</label>
                             
                                <input type="password"
                                ngModel
                                name="password"
                                id="password"
                                placeholder="Password"
                                class="form-control mb-3"required
                                #password="ngModel"
                                [ngClass]="{'is-invalid':f.submitted && password.invalid}"
                                />
                               
                                <div class="invalid-feedback">
                                
                                    <div *ngIf="password.errors?.['required']">Password is required</div>
                                    <div *ngIf="password.errors?.['minlength']"> </div>
                                        Password must be at least 6 characters
                                    </div>
                                </div>
                            </div>
                         
                    
                
                        <div class="formGroup" style="text-align: center;padding-block-start: 1rem;">
                            <button type='button' value="Login" style="padding-inline: 3rem;background-color:#252525;block-size: 48px;
                            inline-size: 280px;inset-inline-start: 30px;inset-block-start: 20px;border-radius: 38px;padding: 12px 104px 12px 104px;color: white;" type="submit"> login </button>        
              
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
   </div>
   </div>
   </div>
   

  
    
                         
          