<!-- <div  class="mt-3">
    <div class="card text-center" style="padding: 5px;margin-block-end: 1rem;">
        <h1 style="color: rgb(0, 0, 0);font-family:Georgia, 'Times New Roman', Times, serif;font-size: 2.5rem;" *ngIf="userService.roleMatch(['User'])">User Dashboard</h1>
        <h1 style="color: rgb(0, 0, 0);font-family:Georgia, 'Times New Roman', Times, serif;font-size: 2.5rem;" *ngIf="userService.roleMatch(['Admin'])">Admin Dashboard</h1>
      </div>

</div>

<div  style="text-align: center;">
  <div> 

<div class="container mt-3">
    <div class="row">
      <div class="col-md">
        <button type='button' class="btn btn-dark" style="padding-inline: 4rem;" routerLink="/home"> View CashBack </button>    
      </div>
      <div class="col-md">
        <button type='button' class="btn btn-dark" style="padding-inline: 4.2rem;" routerLink="/add"> Add CashBack </button>    
      </div>
      <div class="col-md">
        <button type='button' class="btn btn-dark" style="padding-inline: 3.5rem;" routerLink="/update" *ngIf="userService.roleMatch(['Admin'])"> Update CashBack </button>    
      </div>
    </div>
  </div>
  <br>
  <div class="container mb-2">
    <div class="row">
      <div class="col-md">
        <button type='button' class="btn btn-dark" style="padding-inline: 4rem;" routerLink="/viewCustomer"> View Customer </button>    
      </div>
      <div class="col-md">
        <button type='button' class="btn btn-dark" style="padding-inline: 4.2rem;" routerLink="/addCustomer"> Add Customer </button>    
      </div>
      <div class="col-md">
        <button type='button' class="btn btn-dark" style="padding-inline: 3.5rem;" routerLink="/updateCustomer" *ngIf="userService.roleMatch(['Admin'])"> Update Customer </button>    
      </div>
    </div>
  </div>
  <br>
  <div class="container mb-2">
    <div class="row">
      <div class="col-md">
        <button type='button' class="btn btn-dark" style="padding-inline: 4rem;" routerLink="/viewMerchant" > View Merchant </button>    
      </div>
      <div class="col-md">
        <button type='button' class="btn btn-dark" style="padding-inline: 4.2rem;" routerLink="/addMerchant" > Add Merchant </button>    
      </div>
      <div class="col-md">
        <button type='button' class="btn btn-dark" style="padding-inline: 3.5rem;" routerLink="/updateMerchant" *ngIf="userService.roleMatch(['Admin'])"> Update Merchant </button>    
      </div>
    </div>
  </div>
  <br>
  <div class="container mb-2">
    <div class="row">
      <div class="col-md">
        
      </div>
      <div class="col-md">
        <button type='button' class="btn btn-dark" style="padding-inline: 3rem;" routerLink="/profile"> View/Update Profile </button>    
      </div>
      <div class="col-md">
      
      </div>
    </div>
  </div> -->
