
.but-submit{
    padding-inline: 3rem;
    background-color:#252525;
    block-size: 48px;
    inline-size: 250px;
    inset-inline-start: 30px;
    inset-block-start: 30px;
    border-radius: 38px;
    padding: 12px 104px 12px 104px;
    color: white;

}

.but-reset{
        padding-inline: 3rem;
        background-color:#252525;
        block-size: 48px;
        inline-size: 250px;
        inset-inline-start: 30px;
        inset-block-start: 30px;
        border-radius: 38px;
        padding: 12px 104px 12px 104px;
        color: white;
        margin-inline-start: 3rem;
    

}
